body{
	margin: 0;
	background: #000;
	color: #fff;
	font-size: 18px;
	font-family: 'Inter', sans-serif;
} 
a{
	color: #fff;
}

.container{
	width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}
.flex{
	display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.flex--header{
	padding: 20px 0;
}
.col{
	flex: 0 0 auto;
}

.header{
	background: url(../img/hero-bg.jpg) top center no-repeat;
	height: 910px;
}

.logo__img{
  display: block;
	width: 50px;
	height: 50px;
}
.menu{
	font-size: 20px;
	padding: 0 15px;
	margin-left: auto;
}
.menu__list{
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}
.menu__item{
	padding: 0 15px;
}
.menu__link{
	text-decoration: none;
}

.lang{
	font-size: 20px;
}
.lang__item{
	display: inline-block;
}
.lang__item--slash{
	margin: 0 5px;
}

.hero__wrap{
	max-width: 470px;
	margin: 160px 60px;
}
.hero__title{
	font-family: 'Merriweather', serif;
	font-size: 60px;
	line-height: 120px;
	margin: 0;
}
.hero__text{
	font-size: 20px;
	line-height: 2;
	margin: 10px 0 25px;
}

.button{
	display: inline-block;
	font-size: 20px;
	line-height: 2;
	text-align: center;
	background: #BDAE82;
	padding: 7px 0;
	min-width: 220px;
}

.section{
	margin-top: 100px;
}
.section__title{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;

	font-family: 'Merriweather', serif;
	font-weight: bold;
	font-size: 40px;
	line-height: 2;
	text-align: center;
	color: #BDAE82;
	max-width: 700px;
	margin: 0 auto;

}
.section__title:after, .section__title:before{
	display: block;
	height: 2px;
	width: 100%;
	background: #BDAE82;
	content: "";
}
.section__title:before{
	margin-right: 20px;
}
.section__title:after{
	margin-left: 20px;
}

.skills__list{
	margin-top: 62px;
	gap: 40px;
}
.skill{
	text-align: center;
	flex: 1 0 0;;
}
.skill__ico{
	width: auto;
	height: 50px;
	margin-bottom: 50px;
	vertical-align: top;
}
.skill__title{
	font-weight: bold;
	font-size: 20px;
	margin: 0;
	line-height: 2;
	letter-spacing: 0.5px;
}
.skill__text{
	line-height: 2;
	padding: 0 20px;
	margin-bottom: 10px;
}
